# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\New Portfolio\Python\GoogleMapsScreenCapture\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
